@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden;
  background: #022c22;
}
